* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #772772;
    margin-bottom: 10px;
    padding: 10px;
}