* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #772772;
    margin-bottom: 10px;
    padding: 10px;
}

.remove-btn {
    margin-right: 0.5rem;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    opacity: 0;
    transition: all 500ms ease-in;
}